<p style='text-align: center'><a href=https://www.biozentrum.uni-wuerzburg.de/cctb/research/supramolecular-and-cellular-simulations/>Supramolecular and Cellular Simulations</a> (Prof. Fischer)<br>Center for Computational and Theoretical Biology - CCTB<br>Faculty of Biology, University of WÃ¼rzburg</p>

<p style='text-align: center'><br><br>We are looking forward to your comments and suggestions. Please send them to <a href=sabine.fischer@uni.wuerzburg.de>sabine.fischer@uni.wuerzburg.de</a><br><br></p>

<h1><p style='text-align: center'> Introduction to Python </p></h1>

Video with explanations (in German): https://video.uni-wuerzburg.de/iframe/?securecode=71bacf97737d61fb2b6db08e

## Functions
Functions are an important part of Python. A function is a piece of code that can be executed to solve a task. They can range from only very few lines of code to whole scripts. This executable code is used by an identifier. Many tasks that you might want to solve within your code can be solved using a predefined function. For most general tasks, Python has built-in functions. Only complex and highly specific tasks might require writing your own function.

### 1. Built-in Functions
Python has a huge amount of built-in functions. They cover the basic needs for programming. To call a function you need to know its identifier. Furthermore, you need to know if the function needs additional components, to work properly. The `print()` function is our first example, it has been used several times by now.

In [1]:
print("Hello world!")

Hello world!

Besides the identifier `print()` this function needs an argument. <p style='text-align: justify;'>The argument has to be added between the brackets. This function will print its argument as the scripts output. Strings will be printed directly. In contrast, variables will not be printed themselves, instead their content is printed.

In [2]:
v1 = [1,2]
v2 = "String"

print(v1)
print(v2)
print(v1, v2)

[1, 2]
String
[1, 2] String

There are ways to integrate the content of variables into strings. You have to use `{}` in your string to mark the place were the variables content should be added. After closing the string with a quote just add:</p> 
    
`.format()` 

Inside the brackets the variable has to be added.

In [3]:
print("I have v1[1] variables, but you can only see v[2]")

I have v1[1] variables, but you can only see v[2]

In [5]:
v1 = ["hans", 66]

In [6]:
print("I have {} variables, but you can only see {}.".format(v1[1], v1[0]))

I have 66 variables, but you can only see hans.

<p style='text-align: justify;'> To work properly with Python you have to learn the basic functions or at least know where to find them. The Python documentation is a useful source to find specific built-in functions, if you have an idea of the function's name/identifier. Otherwise an internet search or forums can be very helpful.</p>

[Python documentation - functions](https://docs.python.org/3/library/index.html)<br>
[Forum - stackoverflow](https://stackoverflow.com/)    

In the following, we will present some of the most popular functions in Python.

#### 1.1 import
The `import` function is used to load additional modules for specific tasks. One example is `pandas` which is used for working with tables.

In [7]:
import pandas
pandas.DataFrame({'column1':(1,2,3),
                  'column2':['a','b','c']},
                  index=['row1','row2','row3'])

      column1 column2
row1        1       a
row2        2       b
row3        3       c

The `import` function can be combined with additional commands.<br>
`as` loads the module into a variable other than the modules name. This is useful, if the name of the module is long.

In [8]:
import pandas as pd
pd.DataFrame({'column1':(1,2,3),
              'column2':['a','b','c']},
              index=['row1','row2','row3'])

      column1 column2
row1        1       a
row2        2       b
row3        3       c

`from` can be used to load one specific function from a module.

In [9]:
from pandas import DataFrame as DF
DF({'column1':(1,2,3),
    'column2':['a','b','c']},
    index=['row1','row2','row3'])

      column1 column2
row1        1       a
row2        2       b
row3        3       c

#### 1.2 min() / max()
The functions `min()` and `max()` find the smallest / shortest and largest / longest component of their argument, respectively.

In [21]:
list1 = [1,2,3,4,5,6]
list2 = ['aa','bc','def','ghij',"x"]

In [22]:
min(list1)

1

In [23]:
max(list1)

6

In [24]:
min(list2)

'aa'

In [25]:
max(list2)

'x'

With decent formatting:

In [26]:
print('min: {}, max: {}'.format(min(list1),max(list1)))
print('min: {}, max: {}'.format(min(list2),max(list2)))

min: 1, max: 6
min: aa, max: x

#### 1.3 abs()
The function `abs()` gives the absolute value of a number. The argument needs to be either an integer or a float value.

In [27]:
print(abs(-3))

3

In [28]:
print(5 == -5)
print(abs(5) == abs(-5))

False
True

#### 1.4 range()
We have seen the function `range()` in the previous notebook. To remember what it does, please guess what the output will be before you execute the cell.

In [29]:
print(range(10))

range(0, 10)

In [30]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [32]:
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

In [33]:
print(list(range(6,3,-1)))

[6, 5, 4]

#### 1.5 len()
The function `len()` counts the elements of objects such as strings, lists or dictionaries. The argument needs to be an iterable object.

In [34]:
print(len('string'))
print(len([1,2,3,4]))
print(len({'animal':'snake','number':7}))
print(len(range(10)))

6
4
2
10

#### 1.6 sorted()
To sort an iterable object, you can use the function `sorted()`. Just add the object to sort as argument. You can add an additional keyword argument to change the sorting style. As example `key=len` for word length.

In [35]:
print(sorted([1,0,9,4,3,8]))

[0, 1, 3, 4, 8, 9]

In [36]:
print(sorted(['bbb','aaaaaaaaa','cccccc']))

['aaaaaaaaa', 'bbb', 'cccccc']

In [39]:
print(sorted(['bbb','aaaaaaaaa','cccccc'],key=len, reverse = True))

['aaaaaaaaa', 'cccccc', 'bbb']

In [38]:
print(sorted([1,0,9,4,3,8],reverse=True))

[9, 8, 4, 3, 1, 0]

#### 1.7 type()
If you need to know the type of something, as example the content of a variable, you can use the `type()` function.

In [41]:
print(type(pandas))
print(type(list1))
print(type(1.0))
print(type('string'))

<class 'module'>
<class 'list'>
<class 'float'>
<class 'str'>

#### 1.8 input()
If you want to get information form a user, use the `input()` function. This function will open a field to input text.<br>The text will be read as string.

In [42]:
input()

 43

'43'

You can add a string as argument, to give the users an explanation of what they should input.

In [43]:
input('input a number')

input a number 42

'42'

In [44]:
a = input()
print(type(a))

 100

<class 'str'>

In [45]:
a

'100'

In [46]:
a = int(input())
print(type(a))

 100

<class 'int'>

In [47]:
a

100

### 2. User-defined Functions

#### 2.1 Basic functions

To define your own function, you have to use the `def` command. Following `def`, you provide the  identifier of your function. The line has to end with a colon `:`. The indented part afterwards is only executed when the function is called using the corresponding identifier.

In [48]:
def func1():
    print('This is a function')

In [49]:
func1()

This is a function

#### 2.2 Function arguments
There are ways to define functions such that they take a certain argument and do operations with it. This is directly included in the identifier using `function(arg)`. Functions are not limited to a single argument.

In [50]:
def func2(a, b):
    print("{} times {} is {}".format(a,b,a*b))

In [52]:
func2(8, 2)
func2(100, 5)
func2(0, 235)

8 times 2 is 16
100 times 5 is 500
0 times 235 is 0

#### 2.3 Keyword arguments
Keyword arguments offer the possibility to provide function arguments with a default value. The argument is replaced by a keyword and a default argument like this `keyword = default`. The function can then be called with or without an argument. In teh latter case, then the default value will be used.

In [53]:
def func3(c = 1):
    print('This is my argument', c)

In [54]:
func3()

This is my argument 1

In [55]:
func3()
func3(c = 10)
func3(c = [1,2,3,4,5])

This is my argument 1
This is my argument 10
This is my argument [1, 2, 3, 4, 5]

In [56]:
func3(20)

This is my argument 20

In [57]:
def func3a(c = 1, d = 4):
    print('This is the difference of my arguments', c-d)

In [58]:
func3a(5,6)

This is the difference of my arguments -1

In [60]:
func3a(c = 5, d = 6)

This is the difference of my arguments -1

In [63]:
func3a(d=6)

This is the difference of my arguments -5

#### 2.4 Return
Functions can return the results of your code using `return` followed by the variable you want to return.

In [64]:
def func4(x, y, z):
    return (x**2 + y**2 + z**2)**(1/2)

def func5(a, b):
    binom1 = a**2 + 2*a*b + b**2
    binom2 = a**2 - 2*a*b + b**2
    binom3 = a**2 - b**2
    return binom1, binom2, binom3

In [67]:
norm = func4(1, 3, 2)
print(norm)

3.7416573867739413

In [68]:
norm = func4(1, 3, 2)
print(norm)

b1, b2, b3 = func5(5, 3)
print(b1, b2, b3)

3.7416573867739413
64 4 16

In [71]:
b_4 = func5(5, 3)
print(b_4)

(64, 4, 16)

## References:
- https://docs.python.org/3/library/index.html

## Exercises:
Copy and execute the following code in your notebook.

In [ ]:
l1=[10, 39, 34, 35, 20, 32,  3,  9, 29, 35,  0, 27, 36, 40, 33,  5, 12, 24, 11, 50,  1,  7, 14, 22,  9]
l2=[15,  2, 11, 16, 14,  1, 12, 14,  3,  7,  0,  4,  6, 13, 18, 19,  3,  9, 15, 16,  0, 19, 12, 13, 13]
l3=[   4,   5,   1,   6,  3,  -3,  -6,  -1, -5,   -4]
l4=['lizard','cat','mouse','bird','butterfly']

### <p style='color: green'>easy</p>
1. Check all lists for their length, print it and save the length of `l1` in a variable.

2. Find the minimum and maximum of `l1` and `l3`. Save the min and max of `l1` in variables.

3. Print the sentence: `"L1 is x elements long. Its maximum is x and its minimum x."` In place of `x`, add the values. Use your saved values.

4. Sort `l1` and `l4`.

5. Create a list with the number `10` to `1000` with steps of `10`.

### <p style='color: orange'>medium</p>

5. Consider `print("You", "go")`. Set the additionally available arguments of `print()` such that the output is "You, go!". (Hint: Read the documentation for `print()`.)

6. Write a short script that asks to input a number, multiplies it by `10` and prints the result. The script should ask for more input till you type in: `stop`.

7. Write a script, that processes a  list. The script should test if the list is filled with numbers or strings.
    - If the list contains both, an error message should be displayed.
    - If the list contains only one data type, the appropriate function should be used: 
        - If it is a list of numbers, it should display the minimum and maximum.
        - If it is a list of strings, use a built-in function to sort it by length.

### <p style='color: red'>hard</p>

8. You might have used `range(len(list1))` in one of your loops. There is a better solution for this task. Search for the function `enumerate()`. Familiarize yourself with this function and use it to improve the following code:
````Python
l = [1,5,8,2,7,8,3,2,8,2,9,7,4]
for i in range(len(l)):
       print('The element with index {} is {}'.format(i, l[i]))
````

9. Write a function with variable arguments. The function should perform various calculations:
    - It should take two numbers as fixed arguments and any count of additional numbers
    - It should sum up all arguments
    - A switch should allow to multiply all arguments instead