<p style='text-align: center'><a href=https://www.biozentrum.uni-wuerzburg.de/cctb/research/supramolecular-and-cellular-simulations/>Supramolecular and Cellular Simulations</a> (Prof. Fischer)<br>Center for Computational and Theoretical Biology - CCTB<br>Faculty of Biology, University of WÃ¼rzburg</p>

<p style='text-align: center'><br><br>We are looking forward to your comments and suggestions. Please send them to <a href=sabine.fischer@uni.wuerzburg.de>sabine.fischer@uni.wuerzburg.de</a><br><br></p>

<h1><p style='text-align: center'> Introduction to Python </p></h1>

Video with explanations (in German): https://video.uni-wuerzburg.de/iframe/?securecode=567a661e69b8bdc87fae3f69

## Datatypes

In the following lecture and exercises, you will get to know different datatypes that are commonly used in Python. <br> You can always look up the datatype of an object or a variable with the command `type(object)`.

### 1. The NoneType:

In Python, the NoneType shows that a variable does not contain a value and it can be created with the command `variable = None`. <br>This can be useful if you want to define a variable but only want to give a value to it later on. <br>The NoneType also provides a possibility to check whether a variable or object contains a value or not.  <br>
Furthermore, it may be used as a result for unsuccessful search operations.
<br>

In [1]:
var_1=None
type(var_1)

NoneType

### 2. Numerical Datatypes:
#### 2.1 int - Integers
<br>
Integers are represented by the datatype int in Python. Integers can be used for mathematical operations or as values for variables. Basically, integers are made of digits from 0 to 9 and can be positive or negative. For mathematical operations, integers can be connected with operators like +, -, * or /. <br> The results of this operations can also be assigned to a variable.
<br>

In [2]:
5+7

12

In [3]:
a=34
b=17
c=9
print(a,b,c)

34 17 9

In [4]:
print(a+b/c)

35.888888888888886

In [6]:
d=a+b+c
e=a-b+c
f=a*b/c
print(d,e,f)

60 26 64.22222222222223

#### 2.2 float - Floating point numbers

The datatype float represents non-integer numbers. In Python, the whole number part of a floating number is separated from the decimal part by a `.` not by a `,`. The datatype float can be used just as the datatype int. <br> To round a floating number `a` to a certain decimal `n`, you can use the command `round(a,n)`. Rounding to the next integer is done by leaving out the second argument, i.e. `round(a)`.

In [7]:
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'int'>
<class 'float'>

In [8]:
print(round(f,3), round(f,1))

64.222 64.2

In [9]:
print(round(f,0), round(f))

64.0 64

In [11]:
g = 10.0
h = 10
print(type(g))
print(type(h))

<class 'float'>
<class 'int'>

### 3. str - Strings:

A string is a sequence of symbols either within `"` or within `'`. Almost every Python object can be converted to a string with `str(object)`. Strings can be combined with + or multiplied with an integer with *. The length of a string can be determined with `len(str)`. To get certain symbols from a string, you have to work with indices. For example, from the `string = 'this is a string'`,  `string[0]` returns `'t'`. <br>
Indices of strings always start with 0 and end with len(str)-1. <br> By using indices, it is also possible to get slices of strings e.g. `string[0:4]` returns `'this'` or `string[5:9]` returns `'is a'`. With a third parameter you can also change the increment e.g. `string[0:13:2]` returns `'ti sasr'`. <br>

In [12]:
string1 = 'Hello'
string2 = 'World'
print(string1)
print(string2)

Hello
World

In [13]:
string3 = string1 + string2
print(string3)

HelloWorld

In [14]:
string3*2

'HelloWorldHelloWorld'

In [15]:
string4 = string1 + ' ' + string2 + '!'
print(string4)

Hello World!

In [16]:
A = 9
string5 = 'The value of A is: ' + str(A)
print(string5)

The value of A is: 9

In [17]:
type(A)

int

In [18]:
type(str(A))

str

In [19]:
'9'+'8'

'98'

In [20]:
9+8

17

In [21]:
print(string1)

Hello

In [22]:
print(string1[0])

H

In [23]:
print(string1[0:4])

Hell

### 4. list, tuple and set:

#### 4.1 list
A list in Python is an ordered sequence of items inside of square brackets `[]`, separated by commas. Lists can contain items of every type and even inside of one list, different types are possible. Lists within a list are also possible. This can be very helpful to structure your data. <br>
Lists are exceptionally versatile and easy to handle datatypes. To access items from a list, you can use the `slice operator []` like you did with the strings. Lists are mutable, i.e. values of items can be altered using `[]`. <br>
Furthermore, lists can be joined with `+` or multiplied with integers just like strings.

In [24]:
list0 = [1,2,3,4,5,6]
print(list0[0])

1

In [25]:
list0[0]='A'
print(list0)

['A', 2, 3, 4, 5, 6]

In [26]:
list1 = list0+list0
print(list1)

['A', 2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6]

In [27]:
list0=list0*2

In [28]:
list0

['A', 2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6]

In [29]:
del(list0[0])

In [30]:
list0

[2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6]

To delete an item from a list, `del(item)` may be used. To check whether a certain item is an element of a list, the `in-operator` can be utilized.

In [31]:
del(list1[0])
print(list1)

[2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6]

In [32]:
del(list1[6])

In [33]:
list1

[2, 3, 4, 5, 6, 'A', 3, 4, 5, 6]

In [34]:
print('A' in list1)
print(7 in list1)

True
False

In [35]:
print(4 in list1)

True

In [36]:
print('4' in list1)

False

In [37]:
print(4.0 in list1)

True

There are many other functions that can be used to alter lists, like append, extend, insert etc. You should look them up in the documentation: https://docs.python.org/3/tutorial/datastructures.html <br>

In [38]:
list0.append([1,2])
print(list0)
list0.extend([3,4])
print(list0)
list0.reverse()
print(list0)
list0.clear()
print(list0)

[2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6, [1, 2]]
[2, 3, 4, 5, 6, 'A', 2, 3, 4, 5, 6, [1, 2], 3, 4]
[4, 3, [1, 2], 6, 5, 4, 3, 2, 'A', 6, 5, 4, 3, 2]
[]

#### 4.2 tuple
Similar to lists, tuples are an ordered sequence of items inside of round brackets `()` separated by commas. They are handled like lists with one exception: Tuples are immutable, i.e. once created, their content cannot be modified.
<br> Therefore, tuples are mostly used to write protected data and are usually faster than list, because they are not dynamic.

In [40]:
tuple1=(5,2,7,2)
print(tuple1)
print(tuple1[3])

(5, 2, 7, 2)
2

Trying to change an element of a tuple will result in an error message.

In [41]:
tuple1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [42]:
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [43]:
tuple1*2

(5, 2, 7, 2, 5, 2, 7, 2)

#### 4.3 set:

A set is an unordered collection of unique items inside braces `{}`. As set only contains unique items, duplicates get eliminated. The slicing operator `[]` does not work with sets, as it is unordered. To make a set of a list or tuple `set(list/tuple)` is used.

In [44]:
set1 = {1,1,1,6,2,3,7,7,7,3,3}
print(set1)

{1, 2, 3, 6, 7}

Trying to select an element of a set will result in an error message.

In [45]:
set1[0]

TypeError: 'set' object is not subscriptable

A set is helpful to perform standard set theory operations like e.g. `intersection()`, `difference()` or `union()`. https://docs.python.org/3/tutorial/datastructures.html#sets

In [46]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8}

print(set2.intersection(set3))
print(set2.difference(set3))
print(set2.union(set3))

{4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
set2

{1, 2, 3, 4, 5}

#### 4.4 Interchanging these datatypes
Using the functions `list()`, `tuple()` and `set()`, one can change the given datatype to a list, tuple or set, respectively.

In [48]:
testobject1 = [1,1,1,2,5,5,5]
print(tuple(testobject1))
print(set(testobject1))

(1, 1, 1, 2, 5, 5, 5)
{1, 2, 5}

In [49]:
testobject2 = (1,1,1,2,5,5,5)
print(list(testobject2))
print(set(testobject2))

[1, 1, 1, 2, 5, 5, 5]
{1, 2, 5}

In [50]:
testobject3 = {1,1,1,2,5,5,5}
print(list(testobject3))
print(tuple(testobject3))

[1, 2, 5]
(1, 2, 5)

### 5. dict - Dictionaries:
A dictionary in Python is a collection of key-value pairs, for which key and value can be of any type and one key can have several values. They are defined by braces `{}` with a key and a value that are seperated by a colon `:` , e.g. `{key1:value1, key2:value2}`. Strings are most commonly used as keys. Dictionaries are optimized for retrieving data, but you have to know the key to retrieve its data `dict[key]=value of the key`.

In [59]:
dict_1={'key':3,
        'another_key':[4,7],
        1:'x',
        (1,2):None}
print(dict_1)

{'key': 3, 'another_key': [4, 7], 1: 'x', (1, 2): None}

In [60]:
# str as key, int as value
print(dict_1['key'])

3

In [61]:
# str as key, list as value
print(dict_1['another_key'])

[4, 7]

In [62]:
# int as key, str as value
print(dict_1[1])

x

In [63]:
# tuple as key, NoneType as value
print(dict_1[(1,2)])

None

New key-value pairs can easily be added by simply defining them like this `dict[NewKey] = NewValue`, regardless of their datatype.

In [64]:
dict_1['new_key'] = 4
print(dict_1)

{'key': 3, 'another_key': [4, 7], 1: 'x', (1, 2): None, 'new_key': 4}

In [65]:
dict_1[(1,2,3,4,5)] = [5,4,3,2,1]
print(dict_1)

{'key': 3, 'another_key': [4, 7], 1: 'x', (1, 2): None, 'new_key': 4, (1, 2, 3, 4, 5): [5, 4, 3, 2, 1]}

## Exercises

Always check your results with `print(result)`

### <p style='color: green'>easy</p>

1. Perform various calculations. Add, subtract, divide, multiply, exponentiate. Use integers and floats. <br>

2. Assign values to variables and perform calculations using the variables.

3. Create two strings and assign them to the variables `string1` and `string2`. Print both, separated by a blank space.

4. Only print the first three characters of `string1`.

5. Only print every second character of `string2`.

6. Create the following lists:

```python
list1 = [1, 'Hello', 3, 'World!', 5]
list2 = [3/7, 4/9, 27/64]
list3 = [6, 7, 8]
```

7. Print `'Hello World!'` out of `list1` using the `[]`-operator.

8. Change `'Hello'` to `2` and `'World!'` to `4` in `list1`.

9. Join `list1` and `list3` and call the result `list4`.

10. Make a copy of `list4` named `list4_2` using the `[]`-operator.

11. Delete `8` from `list4_2`.

12. Test if `27/63` is in `list2`.

13. Test if `2/5` is in `list2`.

14. Test if `'Hello'` is in `list1`.

15. Slice `[3,4,5,6]` out of `list4` and call the new list `list5`.

16. Multiply `list5` with an integer number and print the length of the result which you should give the name `list6`.

17. Make a dictionary `dict1` with the keys `'House'`, `'Garden'` and `7` with three values for each key in the form of lists.

18. Add another key to `dict1` with some values.

19. Print the values of `dict1` with the key `'Garden'`.

### <p style='color: orange'>medium</p>
20. What are the indices of `3`, `5` and `7` in `list4`? Delete these entries.

21. How often does `3` occur in all lists (`list1`, `list2`, `list3`, `list4`, `list4_2`, `list5`, `list6`)?

22. Create `list7` and `list7_1` with `[1,2,3]`. Append `[5,6,7]` to `list7` and extend `list7_1` with `[5,6,7]`. Compare `list7` and `list7_1`.

23. Insert `4` in `list7_1` between `3` and `5`.

24. Remove the element with index `3` from `list7_1` and assign that element to a variable.

25. Remove `5` from `list7_1`.

26. Revert `list7_1` and print it.

27. Now sort `list7_1` and print it again.

28. Get the intersection of `list1` and `list7_1` (Hint: Use sets of the lists).